.app-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-heading {
  color: #0f172a;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 700;
}
.count-verdict {
  color: #334155;
  font-size: 24px;
  font-family: 'Roboto';
}
.increment-btn {
  background-color: #fff;
  color: #1e293b;
  font-size: 16px;
  font-family: 'Roboto';
  border: none;
  border-radius: 10px;
  padding: 10px 24px;
  outline: none;
}
.note-text {
  color: #334155;
  font-size: 13px;
  font-family: 'Roboto';
}
